<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:orientation="vertical"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/linearLayout1">
    <TextView
        p1:text="@string/intro_grenade"
        p1:textAppearance="?android:attr/textAppearanceLarge"
        p1:layout_width="match_parent"
        p1:layout_height="57.6dp"
        p1:id="@+id/shootingValuesField" />
    <TableRow
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:id="@+id/shootingSkill"
        p1:paddingRight="10dp"
        p1:paddingLeft="10dp"
        p1:paddingTop="5dp"
        p1:paddingBottom="5dp"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content">
        <TextView
            p1:text="@string/throwing_skill"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:id="@+id/textView7"
            p1:layout_height="25.0dp"
            p1:layout_width="0px"
            p1:layout_weight="1" />
        <EditText
            p1:inputType="number"
            p1:id="@+id/spotAdditionalEnemies"
            p1:layout_width="0px"
            p1:layout_weight="1" />
    </TableRow>
    <Button
        p1:text="@string/calculate"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/spotCalculate" />
    <ScrollView
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/scrollView1">
        <TableLayout
            p1:minWidth="25px"
            p1:minHeight="25px"
            p1:layout_width="match_parent"
            p1:layout_height="match_parent"
            p1:id="@+id/tableLayout1"
            p1:stretchColumns="*"
            p1:shrinkColumns="1">
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/TargetStance"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/spotting_title_TargetStance"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView8"
                    p1:layout_width="169.2dp"
                    p1:layout_weight="1" />
                <Spinner
                    p1:id="@+id/TargetStanceSpinner" />
            </TableRow>
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/TargetVehicle"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/shooting_targetVehicle_Moving"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView8"
                    p1:layout_width="0px"
                    p1:layout_weight="1" />
                <CheckBox
                    p1:layout_column="1"
                    p1:id="@+id/targetVehicleMovingCheckbox" />
            </TableRow>
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/ShooterHealth"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/shooting_title_ShooterHealth"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView8"
                    p1:layout_width="0px"
                    p1:layout_weight="1" />
                <Spinner
                    p1:id="@+id/ShooterHealthSpinner" />
            </TableRow>
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/ShooterMovement"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/shooting_title_ShooterStance"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView8"
                    p1:layout_width="0px"
                    p1:layout_weight="1" />
                <Spinner
                    p1:id="@+id/ShooterStanceSpinner" />
            </TableRow>
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/HeightDifference"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/elevationDifference"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView8"
                    p1:layout_width="0px"
                    p1:layout_weight="1"
                    p1:textSize="14dp" />
                <Spinner
                    p1:id="@+id/HeightDifferenceSpinner" />
            </TableRow>
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/ShootingVehicle"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/shooting_shooterVehicle_Moving"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView8"
                    p1:layout_width="0px"
                    p1:layout_weight="1" />
                <CheckBox
                    p1:layout_column="1"
                    p1:id="@+id/shootingVehicleMovingCheckbox" />
            </TableRow>
        </TableLayout>
    </ScrollView>
</LinearLayout>