<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:orientation="vertical"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/linearLayout1">
    <TextView
        p1:text="@string/intro_morale"
        p1:textAppearance="?android:attr/textAppearanceLarge"
        p1:layout_width="match_parent"
        p1:layout_height="51.9dp"
        p1:id="@+id/spottingValuesField" />
    <TableRow
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:id="@+id/moraleSkill"
        p1:paddingRight="10dp"
        p1:paddingLeft="10dp"
        p1:paddingTop="5dp"
        p1:paddingBottom="5dp"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content">
        <TextView
            p1:text="@string/morale_Title"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:id="@+id/textView7"
            p1:layout_height="25.0dp"
            p1:layout_width="0px"
            p1:layout_weight="1" />
        <EditText
            p1:inputType="number"
            p1:id="@+id/moraleValue"
            p1:layout_width="0px"
            p1:layout_weight="1" />
    </TableRow>
    <Button
        p1:text="@string/calculate"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/spotCalculate" />
    <ScrollView
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/scrollView1">
        <TableLayout
            p1:minWidth="25px"
            p1:minHeight="25px"
            p1:layout_width="match_parent"
            p1:layout_height="match_parent"
            p1:id="@+id/tableLayout1"
            p1:stretchColumns="*"
            p1:shrinkColumns="1">
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/conciousFriendlies"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/title_morale_couciousSquadMember"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView7"
                    p1:layout_height="51.2dp"
                    p1:layout_width="0px"
                    p1:layout_weight="1"
                    p1:textSize="16dp" />
                <EditText
                    p1:inputType="number"
                    p1:id="@+id/conciousFriendliesValue"
                    p1:layout_width="0px"
                    p1:layout_weight="1" />
            </TableRow>
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/enemyFighters"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/title_morale_enemySquadWithin"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView7"
                    p1:layout_height="51.2dp"
                    p1:layout_width="0px"
                    p1:layout_weight="1"
                    p1:textSize="16dp" />
                <EditText
                    p1:inputType="number"
                    p1:id="@+id/enemyFightersValue"
                    p1:layout_width="0px"
                    p1:layout_weight="1" />
            </TableRow>
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/AdditionalMoraleMarkers"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/title_morale_additionalMoraleMarker"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView7"
                    p1:layout_height="51.2dp"
                    p1:layout_width="0px"
                    p1:layout_weight="1"
                    p1:textSize="16dp" />
                <EditText
                    p1:inputType="number"
                    p1:id="@+id/numberOfMoraleMarkersValue"
                    p1:layout_width="0px"
                    p1:layout_weight="1" />
            </TableRow>
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/ActiveSoldierCover"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/title_morale_cover"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView7"
                    p1:layout_height="51.2dp"
                    p1:layout_width="191.2dp"
                    p1:layout_weight="1"
                    p1:textSize="16dp" />
                <Spinner
                    p1:layout_column="1"
                    p1:id="@+id/ActiveSoldierCoverSpinner" />
            </TableRow>
            <TableRow
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:id="@+id/ActiveSoldierDetails"
                p1:paddingRight="10dp"
                p1:paddingLeft="10dp"
                p1:paddingTop="5dp"
                p1:paddingBottom="5dp">
                <TextView
                    p1:text="@string/title_morale_details"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:id="@+id/textView7"
                    p1:layout_height="51.2dp"
                    p1:layout_width="187.8dp"
                    p1:layout_weight="1"
                    p1:textSize="16dp" />
                <uk.staticchargestudios.skirmishtools.MultiSelectSpinner
                    p1:layout_column="1"
                    p1:id="@+id/ActiveSoldierDetailsSpinner" />
            </TableRow>
        </TableLayout>
    </ScrollView>
</LinearLayout>